<!DOCTYPE html>
<html>
    <head>
        <title>Option Chain Data</title>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Bank NIFTY:</label> <span id="spBankNif"></span>
                    </div>
                    <div class="col-md-6">
                        <label>Expire Date:</label> <span id="spExpDate"></span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <span>Call Data</span>
                    <table class="table table-bordered table-responsive table-sm" id="tblCallData">
                        <thead>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <caption>Put Data</caption>
                    <table class="table table-bordered table-responsive table-sm" id="tblPutData">
                        <thead>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script>
        function callOptionAPI() {
            $.ajax({
                type:"GET",
                url: "/optiondata",
                contentType:"application/json",
                success: function(response){
                    let optionData = response;
                    console.log(optionData);
                    $("#spBankNif").html(optionData.bankNifty);
                    $("#spExpDate").html(optionData.expireDate);
                    
                    let rowCallArray = getRows(optionData.optionMin,'min',$("#tblCallData > tbody tr").length);
                    let rowPutArray = getRows(optionData.optionMax,'max',$("#tblPutData > tbody tr").length);

                    if($("#tblCallData thead > tr").length == 0) {
                        $("#tblCallData > thead ").append(rowCallArray[0]);
                        $("#tblCallData > tbody ").append(rowCallArray[1]);
                    } else {
                        $("#tblCallData > thead").find('tr').remove();
                        $("#tblCallData > thead ").append(rowCallArray[0]);
                        $("#tblCallData > tbody ").prepend(rowCallArray[1]);
                    }

                    if($("#tblPutData thead > tr").length == 0) {
                        $("#tblPutData > thead ").append(rowPutArray[0]);
                        $("#tblPutData > tbody ").append(rowPutArray[1]);
                    } else {
                        $("#tblPutData > thead").find('tr').remove();
                        $("#tblPutData > thead ").append(rowPutArray[0]);
                        $("#tblPutData > tbody ").prepend(rowPutArray[1]);
                        //$("#tblPutData > tbody tr").prepend('<tr><td colspan="9">Jignesh'+ $("#tblPutData > tbody tr").length +'</td></tr>');
                    }
                    $("#tblCallData > tbody tr td").each(function (i) {
                        if($(this).parent().find('tr').length)
                        console.log("spCallId"+ i + ($(this).parent().parent().find('tr').length));
                        //console.log($("#spCallId"+ i + $(this).find('tr').length-1).html());
                    })
                },
                error: function(error) {
                    
                },
                complete: function(result) {

                }
            })
        }

        function getRows(options,sType,tblLength) {
            let currentDate = new Date();
            let time = currentDate.getHours() + ":" + currentDate.getMinutes();
            let optionData = options;
            let mCTr = '<tr>';
            let mCRow = '<tr>';
            for(let i=0; i< optionData.length; i++){
                mCTr += "<th>" + optionData[i].strikePrice + "</th>";
                if(sType === "max") {
                    mCRow += '<td><span id="spPutId'+ i + tblLength +'">'+ optionData[i].PEChangeInOpenInterest + "</span></td>";    
                } else {
                    //console.log(parseInt($("#spCallId"+ i + (tblLength -1)).html()) >= parseInt($("#spCallId"+ i + tblLength).html()));
                    //console.log($("#spCallId"+ i + (tblLength)).val());
                    //let cssColor = (parseInt($("#spCallId"+ i + (tblLength -1)).html()) >= parseInt($("#spCallId"+ i + tblLength).html()) ? "table-success" : "table-warning");
                    mCRow += '<td ><span id="spCallId'+ i + tblLength +'" >'+ optionData[i].CEChangeInOpenInterest + "</span></td>";
                }
            }
            mCTr += "</tr>";
            mCRow += '<td>'+ time +'</td></tr>';
            return [ mCTr, mCRow ];
        }
        
        setInterval(
            callOptionAPI
            ,180000);
        
        callOptionAPI();
    </script>
</html>